<main class="d-flex flex-column justify-content-center align-items-center">
   <div>
    <div class="title mt-2">
        <a class="navbar-brand text-primary text-center" href="./Dashboard.php">Dashboard Admin</a>
    </div>
    <div class="link mt-5">
        <ul class="d-flex gap-4 list-unstyled">
            <li><a routerLink="dashboard/listemploye" class="btn btn-primary btn-nav" >List Employers</a></li>
            <li><button class="btn btn-primary btn-nav" >Add Employer</button></li>
            <li><button class="btn btn-primary btn-nav" >Your Profil</button></li>
        </ul>
    </div>
   </div>
   <router-outlet></router-outlet>
</main>